.headOrderPlaced{
   background-color: #ffd763;
   margin: auto;
   width: 80%;
   text-align: center;
}
.header{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem 0rem;
   display: block;
   width: 80%;
   margin: auto;
   justify-content: center;
    font-family: "Helvetica neue",Arial, Helvetica, sans-serif;   
}
.congratsimage{
    display: block;
    margin: auto;
    background-color: #ffd763;
}
.rightimage{
    background-color: #ffd763;
    height: 100px;
    width: 100px;
    margin: auto;
    background: #ffd763;
}