.header{
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1rem 0rem;
   display: block;
   justify-content: center;
    font-family: "Helvetica neue",Arial, Helvetica, sans-serif;
}
.inputbox{
    margin: 1rem 1rem;
    width: 40rem;
    font-family: "Helvetica neue",Arial, Helvetica, sans-serif;
}
.chead{
    font-family: georgia, times, serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.ibox{
    margin: 1rem 0rem;
}
.namebox{
    display: flex;
    gap:2rem;
    margin: 1rem 0rem;
}
.loc{
    font-size: 0.9rem;
    color: rgb(48, 48, 246);
}
.loc:hover{
    text-decoration: underline;
}
.savebtn{
    margin: 2rem 0rem;
    color: white;
    background-color: black;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
}
.options{
    margin-top:1rem;
}
.placeorder{
    width: 20rem;
    margin-top: 3.7rem;  
}
.placemain{
    border: 1px solid rgb(213, 201, 201);
    padding: 1rem;
    background-color: #f2f2f2;
    /* margin-left: 8rem; */
    
}
.td01{
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.5vh;
   
}

.td1{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.td11:hover{
   text-decoration: underline;
}
.td2{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 3rem; 
    font-weight: 600;
}
.td3{
    font-size: 0.8rem;
}
.pcoupon{
    margin: 1rem 0.5rem;
}
.ccp{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
}
.cbtn{
    border: 2px solid black;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: 700;
    padding: 0.3rem 0rem;
    width: 16rem;
    margin: 0.5rem 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.placebtn{
    /* margin: 1rem 1rem; */
    color: white;
    background-color: #ff3399;
    /* border-radius: 2rem; */
    font-weight: bold;
    font-size: large;
    width: 100%;
    padding: 1.5rem 2rem;
}
.placebtn:hover,.cbtn:hover{
    background-color: green;
    color: white;
}
.cfooter{
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    font-size: 0.8rem;
    
}
.fbox{
    padding: 1rem;
    display: flex;
    line-height: 1.5rem;
    gap: 1rem;
   
}
.flink:hover{
    text-decoration: underline;
}
.inputtag{
    padding: 1rem;
    border-radius: 7px;
    gap: 10px;
}